{
  "openapi": "3.0.1",
  "info": {
    "title": "PostgREST API",
    "description": "This is a dynamic API generated by PostgREST",
    "version": "12.0.2"
  },
  "externalDocs": {
    "description": "PostgREST Documentation",
    "url": "https://postgrest.org/en/v12.0/api.html"
  },
  "servers": [
    {
      "url": "https://api-extendednotesresearch.fountain.coach"
    }
  ],
  "paths": {
    "/extendednotesresearch": {
      "get": {
        "operationId": "getExtentednotesresearch",
        "tags": [
          "extendednotesresearch"
        ],
        "parameters": [
          {
            "name": "research_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "notes",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "research_details",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Ordering",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range-Unit",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string",
              "default": "items"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "count=none"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/extendednotesresearch"
                  }
                }
              },
              "application/vnd.pgrst.object+json;nulls=stripped": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/extendednotesresearch"
                  }
                }
              },
              "application/vnd.pgrst.object+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/extendednotesresearch"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/extendednotesresearch"
                  }
                }
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "content": {}
          }
        }
      },
      "post": {
        "operationId": "postExtendednotesresearch",
        "tags": [
          "extendednotesresearch"
        ],
        "parameters": [
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none",
                "resolution=ignore-duplicates",
                "resolution=merge-duplicates"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "extendednotesresearch",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/extendednotesresearch"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/extendednotesresearch"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/extendednotesresearch"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/extendednotesresearch"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "extendednotesresearch"
      },
      "delete": {
        "operationId": "deleteExtendednotesresearch",
        "tags": [
          "extendednotesresearch"
        ],
        "parameters": [
          {
            "name": "research_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "notes",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "research_details",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "operationId": "updateExtedednotesresearch",
        "tags": [
          "extendednotesresearch"
        ],
        "parameters": [
          {
            "name": "research_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "notes",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "research_details",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "extendednotesresearch",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/extendednotesresearch"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/extendednotesresearch"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/extendednotesresearch"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/extendednotesresearch"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "extendednotesresearch"
      }
    }
  },
  "components": {
    "schemas": {
      "extendednotesresearch": {
        "required": [
          "research_id"
        ],
        "type": "object",
        "properties": {
          "research_id": {
            "type": "integer",
            "description": "Note:\nThis is a Primary Key.<pk/>",
            "format": "integer"
          },
          "script_id": {
            "type": "integer",
            "format": "integer"
          },
          "notes": {
            "type": "string",
            "format": "text"
          },
          "research_details": {
            "type": "string",
            "format": "text"
          }
        }
      }
    },
    "parameters": {
      "preferParams": {
        "name": "Prefer",
        "in": "header",
        "description": "Preference",
        "schema": {
          "type": "string",
          "enum": [
            "params=single-object"
          ]
        }
      },
      "preferReturn": {
        "name": "Prefer",
        "in": "header",
        "description": "Preference",
        "schema": {
          "type": "string",
          "enum": [
            "return=representation",
            "return=minimal",
            "return=none"
          ]
        }
      },
      "preferCount": {
        "name": "Prefer",
        "in": "header",
        "description": "Preference",
        "schema": {
          "type": "string",
          "enum": [
            "count=none"
          ]
        }
      },
      "preferPost": {
        "name": "Prefer",
        "in": "header",
        "description": "Preference",
        "schema": {
          "type": "string",
          "enum": [
            "return=representation",
            "return=minimal",
            "return=none",
            "resolution=ignore-duplicates",
            "resolution=merge-duplicates"
          ]
        }
      },
      "select": {
        "name": "select",
        "in": "query",
        "description": "Filtering Columns",
        "schema": {
          "type": "string"
        }
      },
      "on_conflict": {
        "name": "on_conflict",
        "in": "query",
        "description": "On Conflict",
        "schema": {
          "type": "string"
        }
      },
      "order": {
        "name": "order",
        "in": "query",
        "description": "Ordering",
        "schema": {
          "type": "string"
        }
      },
      "range": {
        "name": "Range",
        "in": "header",
        "description": "Limiting and Pagination",
        "schema": {
          "type": "string"
        }
      },
      "rangeUnit": {
        "name": "Range-Unit",
        "in": "header",
        "description": "Limiting and Pagination",
        "schema": {
          "type": "string",
          "default": "items"
        }
      },
      "offset": {
        "name": "offset",
        "in": "query",
        "description": "Limiting and Pagination",
        "schema": {
          "type": "string"
        }
      },
      "limit": {
        "name": "limit",
        "in": "query",
        "description": "Limiting and Pagination",
        "schema": {
          "type": "string"
        }
      },
      "rowFilter.extendednotesresearch.research_id": {
        "name": "research_id",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "integer"
        }
      },
      "rowFilter.extendednotesresearch.script_id": {
        "name": "script_id",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "integer"
        }
      },
      "rowFilter.extendednotesresearch.notes": {
        "name": "notes",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "text"
        }
      },
      "rowFilter.extendednotesresearch.research_details": {
        "name": "research_details",
        "in": "query",
        "schema": {
          "type": "string",
          "format": "text"
        }
      }
    },
    "requestBodies": {
      "body.extendednotesresearch": {
        "description": "extendednotesresearch",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/extendednotesresearch"
            }
          },
          "application/vnd.pgrst.object+json;nulls=stripped": {
            "schema": {
              "$ref": "#/components/schemas/extendednotesresearch"
            }
          },
          "application/vnd.pgrst.object+json": {
            "schema": {
              "$ref": "#/components/schemas/extendednotesresearch"
            }
          },
          "text/csv": {
            "schema": {
              "$ref": "#/components/schemas/extendednotesresearch"
            }
          }
        },
        "required": false
      }
    }
  },
  "x-original-swagger-version": "2.0"
}
