openapi: 3.0.1
info:
  title: RevisionHistory API
  description: An API for managing revision history records in the New Fountain script system, allowing for detailed tracking of script modifications.
  version: 1.0.0
servers:
  - url: 'https://revisionhistory.fountain.coach'
    description: Main production server for managing revision histories.
paths:
  /revisionhistory:
    get:
      summary: List all revision history records
      operationId: listRevisionHistories
      responses:
        '200':
          description: A list of revision history records.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/RevisionHistory'
    post:
      summary: Create a new revision history record
      operationId: createRevisionHistory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevisionHistory'
      responses:
        '201':
          description: Created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevisionHistory'
  /revisionhistory/{revisionId}:
    get:
      summary: Get a revision history record by ID
      operationId: getRevisionHistoryById
      parameters:
        - name: revisionId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: A single revision history record.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevisionHistory'
    put:
      summary: Update a revision history record
      operationId: uniquelyUpdateRevisionHistory
      parameters:
        - name: uniqueRevisionId
          in: path
          required: true
          schema:
            type: integer
          description: Unique identifier for the revision history record, specified for update.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevisionHistory'
      responses:
        '200':
          description: Successfully updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevisionHistory'
    delete:
      summary: Delete a revision history record
      operationId: deleteRevisionHistory
      parameters:
        - name: revisionId
          in: path
          required: true
          schema:
            type: integer
      responses:
        '204':
          description: Successfully deleted.
components:
  schemas:
    RevisionHistory:
      type: object
      required:
        - revisionId
        - scriptId
        - date
        - description
      properties:
        revisionId:
          type: integer
          description: Unique identifier for the revision history record.
        scriptId:
          type: integer
          description: Identifier for the script associated with this revision.
        date:
          type: string
          format: date
          description: The date of the revision.
        description:
          type: string
          description: A brief description of the revision.
