{
  "servers": [
    {
      "url": "https://api-playwright.fountain.coach"
    }
  ],
  "tags": [],
  "openapi": "3.0.1",
  "info": {
    "title": "PostgREST API",
    "description": "This is a dynamic API generated by PostgREST",
    "version": "12.0.2"
  },
  "externalDocs": {
    "description": "PostgREST Documentation",
    "url": "https://postgrest.org/en/v12.0/api.html"
  },
  "paths": {
    "/act": {
      "get": {
        "operationId": "getAct",
        "tags": [
          "act"
        ],
        "parameters": [
          {
            "name": "act_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "act_number",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "synopsis",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "notes",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Ordering",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range-Unit",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string",
              "default": "items"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "count=none"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/act"
                  }
                }
              },
              "application/vnd.pgrst.object+json;nulls=stripped": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/act"
                  }
                }
              },
              "application/vnd.pgrst.object+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/act"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/act"
                  }
                }
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "content": {}
          }
        }
      },
      "post": {
        "operationId": "postAct",
        "tags": [
          "act"
        ],
        "parameters": [
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none",
                "resolution=ignore-duplicates",
                "resolution=merge-duplicates"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "act",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/act"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/act"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/act"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/act"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "act"
      },
      "delete": {
        "operationId": "deleteAct",
        "tags": [
          "act"
        ],
        "parameters": [
          {
            "name": "act_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "act_number",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "synopsis",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "notes",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "operationId": "updateAct",
        "tags": [
          "act"
        ],
        "parameters": [
          {
            "name": "act_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "act_number",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "synopsis",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "notes",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "act",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/act"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/act"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/act"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/act"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "act"
      }
    },
    "/action": {
      "get": {
        "operationId": "getAction",
        "tags": [
          "action"
        ],
        "parameters": [
          {
            "name": "action_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "scene_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "character_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "original_text",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "modernized_text",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Ordering",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range-Unit",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string",
              "default": "items"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "count=none"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/action"
                  }
                }
              },
              "application/vnd.pgrst.object+json;nulls=stripped": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/action"
                  }
                }
              },
              "application/vnd.pgrst.object+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/action"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/action"
                  }
                }
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "content": {}
          }
        }
      },
      "post": {
        "operationId": "postAction",
        "tags": [
          "action"
        ],
        "parameters": [
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none",
                "resolution=ignore-duplicates",
                "resolution=merge-duplicates"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "action",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/action"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/action"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/action"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/action"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "action"
      },
      "delete": {
        "operationId": "deleteAction",
        "tags": [
          "action"
        ],
        "parameters": [
          {
            "name": "action_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "scene_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "character_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "original_text",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "modernized_text",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "operationId": "updateAction",
        "tags": [
          "action"
        ],
        "parameters": [
          {
            "name": "action_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "scene_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "character_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "original_text",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "modernized_text",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "action",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/action"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/action"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/action"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/action"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "action"
      }
    },
    "/casting": {
      "get": {
        "operationId": "getCasting",
        "tags": [
          "casting"
        ],
        "parameters": [
          {
            "name": "casting_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "character_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "actor_characteristics_choices",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Ordering",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range-Unit",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string",
              "default": "items"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "count=none"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/casting"
                  }
                }
              },
              "application/vnd.pgrst.object+json;nulls=stripped": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/casting"
                  }
                }
              },
              "application/vnd.pgrst.object+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/casting"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/casting"
                  }
                }
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "content": {}
          }
        }
      },
      "post": {
        "operationId": "postCasting",
        "tags": [
          "casting"
        ],
        "parameters": [
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none",
                "resolution=ignore-duplicates",
                "resolution=merge-duplicates"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "casting",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/casting"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/casting"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/casting"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/casting"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "casting"
      },
      "delete": {
        "operationId": "deleteCasting",
        "tags": [
          "casting"
        ],
        "parameters": [
          {
            "name": "casting_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "character_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "actor_characteristics_choices",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "operationId": "updateCasting",
        "tags": [
          "casting"
        ],
        "parameters": [
          {
            "name": "casting_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "character_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "actor_characteristics_choices",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "casting",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/casting"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/casting"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/casting"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/casting"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "casting"
      }
    },
    "/centeredtext": {
      "get": {
        "operationId": "getCenteredtext",
        "tags": [
          "centeredtext"
        ],
        "parameters": [
          {
            "name": "centered_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "text",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Ordering",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range-Unit",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string",
              "default": "items"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "count=none"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/centeredtext"
                  }
                }
              },
              "application/vnd.pgrst.object+json;nulls=stripped": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/centeredtext"
                  }
                }
              },
              "application/vnd.pgrst.object+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/centeredtext"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/centeredtext"
                  }
                }
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "content": {}
          }
        }
      },
      "post": {
        "operationId": "postCenteredtext",
        "tags": [
          "centeredtext"
        ],
        "parameters": [
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none",
                "resolution=ignore-duplicates",
                "resolution=merge-duplicates"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "centeredtext",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/centeredtext"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/centeredtext"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/centeredtext"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/centeredtext"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "centeredtext"
      },
      "delete": {
        "operationId": "deleteCenteredtext",
        "tags": [
          "centeredtext"
        ],
        "parameters": [
          {
            "name": "centered_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "text",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "operationId": "updateCenterredtext",
        "tags": [
          "centeredtext"
        ],
        "parameters": [
          {
            "name": "centered_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "text",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "centeredtext",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/centeredtext"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/centeredtext"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/centeredtext"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/centeredtext"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "centeredtext"
      }
    },
    "/character": {
      "get": {
        "operationId": "getCharacter",
        "tags": [
          "character"
        ],
        "parameters": [
          {
            "name": "character_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Ordering",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range-Unit",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string",
              "default": "items"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "count=none"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/character"
                  }
                }
              },
              "application/vnd.pgrst.object+json;nulls=stripped": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/character"
                  }
                }
              },
              "application/vnd.pgrst.object+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/character"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/character"
                  }
                }
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "content": {}
          }
        }
      },
      "post": {
        "operationId": "postCharacter",
        "tags": [
          "character"
        ],
        "parameters": [
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none",
                "resolution=ignore-duplicates",
                "resolution=merge-duplicates"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "character",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/character"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/character"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/character"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/character"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "character"
      },
      "delete": {
        "operationId": "deleteCharacter",
        "tags": [
          "character"
        ],
        "parameters": [
          {
            "name": "character_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "operationId": "updateCharacter",
        "tags": [
          "character"
        ],
        "parameters": [
          {
            "name": "character_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "name",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "character",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/character"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/character"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/character"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/character"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "character"
      }
    },
    "/characterrelationship": {
      "get": {
        "operationId": "getCharacterrelationship",
        "tags": [
          "characterrelationship"
        ],
        "parameters": [
          {
            "name": "relationship_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "character1_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "character2_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "relationship_type",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Ordering",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range-Unit",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string",
              "default": "items"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "count=none"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/characterrelationship"
                  }
                }
              },
              "application/vnd.pgrst.object+json;nulls=stripped": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/characterrelationship"
                  }
                }
              },
              "application/vnd.pgrst.object+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/characterrelationship"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/characterrelationship"
                  }
                }
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "content": {}
          }
        }
      },
      "post": {
        "operationId": "postCharacterrelationship",
        "tags": [
          "characterrelationship"
        ],
        "parameters": [
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none",
                "resolution=ignore-duplicates",
                "resolution=merge-duplicates"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "characterrelationship",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/characterrelationship"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/characterrelationship"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/characterrelationship"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/characterrelationship"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "characterrelationship"
      },
      "delete": {
        "operationId": "deleteCharcterrelationship",
        "tags": [
          "characterrelationship"
        ],
        "parameters": [
          {
            "name": "relationship_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "character1_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "character2_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "relationship_type",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "operationId": "updateCharacterrelationship",
        "tags": [
          "characterrelationship"
        ],
        "parameters": [
          {
            "name": "relationship_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "character1_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "character2_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "relationship_type",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "characterrelationship",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/characterrelationship"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/characterrelationship"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/characterrelationship"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/characterrelationship"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "characterrelationship"
      }
    },
    "/crossreferences": {
      "get": {
        "operationId": "getCrossreferences",
        "tags": [
          "crossreferences"
        ],
        "parameters": [
          {
            "name": "cross_reference_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "scene_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "referenced_scene_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Ordering",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range-Unit",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string",
              "default": "items"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "count=none"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/crossreferences"
                  }
                }
              },
              "application/vnd.pgrst.object+json;nulls=stripped": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/crossreferences"
                  }
                }
              },
              "application/vnd.pgrst.object+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/crossreferences"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/crossreferences"
                  }
                }
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "content": {}
          }
        }
      },
      "post": {
        "operationId": "postCrossreferences",
        "tags": [
          "crossreferences"
        ],
        "parameters": [
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none",
                "resolution=ignore-duplicates",
                "resolution=merge-duplicates"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "crossreferences",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/crossreferences"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/crossreferences"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/crossreferences"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/crossreferences"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "crossreferences"
      },
      "delete": {
        "operationId": "deleteCrossreferences",
        "tags": [
          "crossreferences"
        ],
        "parameters": [
          {
            "name": "cross_reference_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "scene_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "referenced_scene_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "operationId": "updateCrossreferences",
        "tags": [
          "crossreferences"
        ],
        "parameters": [
          {
            "name": "cross_reference_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "scene_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "referenced_scene_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "description",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "crossreferences",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/crossreferences"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/crossreferences"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/crossreferences"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/crossreferences"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "crossreferences"
      }
    },
    "/dialogue": {
      "get": {
        "operationId": "getDialogue",
        "tags": [
          "dialogue"
        ],
        "parameters": [
          {
            "name": "dialogue_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "scene_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "character_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "original_text",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "modernized_text",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Ordering",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range-Unit",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string",
              "default": "items"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "count=none"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/dialogue"
                  }
                }
              },
              "application/vnd.pgrst.object+json;nulls=stripped": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/dialogue"
                  }
                }
              },
              "application/vnd.pgrst.object+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/dialogue"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/dialogue"
                  }
                }
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "content": {}
          }
        }
      },
      "post": {
        "operationId": "postDialogue",
        "tags": [
          "dialogue"
        ],
        "parameters": [
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none",
                "resolution=ignore-duplicates",
                "resolution=merge-duplicates"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "dialogue",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dialogue"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/dialogue"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/dialogue"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/dialogue"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "dialogue"
      },
      "delete": {
        "operationId": "deleteDialogue",
        "tags": [
          "dialogue"
        ],
        "parameters": [
          {
            "name": "dialogue_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "scene_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "character_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "original_text",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "modernized_text",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "operationId": "updateDialogue",
        "tags": [
          "dialogue"
        ],
        "parameters": [
          {
            "name": "dialogue_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "scene_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "character_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "original_text",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "modernized_text",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "dialogue",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dialogue"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/dialogue"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/dialogue"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/dialogue"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "dialogue"
      }
    },
    "/extendednotesresearch": {
      "get": {
        "operationId": "getExtentednotesresearch",
        "tags": [
          "extendednotesresearch"
        ],
        "parameters": [
          {
            "name": "research_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "notes",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "research_details",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Ordering",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range-Unit",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string",
              "default": "items"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "count=none"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/extendednotesresearch"
                  }
                }
              },
              "application/vnd.pgrst.object+json;nulls=stripped": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/extendednotesresearch"
                  }
                }
              },
              "application/vnd.pgrst.object+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/extendednotesresearch"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/extendednotesresearch"
                  }
                }
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "content": {}
          }
        }
      },
      "post": {
        "operationId": "postExtendednotesresearch",
        "tags": [
          "extendednotesresearch"
        ],
        "parameters": [
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none",
                "resolution=ignore-duplicates",
                "resolution=merge-duplicates"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "extendednotesresearch",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/extendednotesresearch"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/extendednotesresearch"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/extendednotesresearch"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/extendednotesresearch"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "extendednotesresearch"
      },
      "delete": {
        "operationId": "deleteExtendednotesresearch",
        "tags": [
          "extendednotesresearch"
        ],
        "parameters": [
          {
            "name": "research_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "notes",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "research_details",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "operationId": "updateExtedednotesresearch",
        "tags": [
          "extendednotesresearch"
        ],
        "parameters": [
          {
            "name": "research_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "notes",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "research_details",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "extendednotesresearch",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/extendednotesresearch"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/extendednotesresearch"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/extendednotesresearch"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/extendednotesresearch"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "extendednotesresearch"
      }
    },
    "/formattingrules": {
      "get": {
        "operationId": "getFormattingrules",
        "tags": [
          "formattingrules"
        ],
        "parameters": [
          {
            "name": "rule_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "rule_description",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Ordering",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range-Unit",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string",
              "default": "items"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "count=none"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/formattingrules"
                  }
                }
              },
              "application/vnd.pgrst.object+json;nulls=stripped": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/formattingrules"
                  }
                }
              },
              "application/vnd.pgrst.object+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/formattingrules"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/formattingrules"
                  }
                }
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "content": {}
          }
        }
      },
      "post": {
        "operationId": "postFormattingrules",
        "tags": [
          "formattingrules"
        ],
        "parameters": [
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none",
                "resolution=ignore-duplicates",
                "resolution=merge-duplicates"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "formattingrules",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/formattingrules"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/formattingrules"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/formattingrules"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/formattingrules"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "formattingrules"
      },
      "delete": {
        "operationId": "deleteFormattingrules",
        "tags": [
          "formattingrules"
        ],
        "parameters": [
          {
            "name": "rule_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "rule_description",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "operationId": "updateForattingrules",
        "tags": [
          "formattingrules"
        ],
        "parameters": [
          {
            "name": "rule_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "script_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "rule_description",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "formattingrules",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/formattingrules"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/formattingrules"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/formattingrules"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/formattingrules"
              }
            }
          },
          "required": false
        },
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "formattingrules"
      }
    },
    "/metadata": {
      "get": {
        "operationId": "getMetadata",
        "tags": [
          "metadata"
        ],
        "parameters": [
          {
            "name": "metadata_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "creation_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "last_modified_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "version_number",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "additional_information",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "order",
            "in": "query",
            "description": "Ordering",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Range-Unit",
            "in": "header",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string",
              "default": "items"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Limiting and Pagination",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "count=none"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/metadata"
                  }
                }
              },
              "application/vnd.pgrst.object+json;nulls=stripped": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/metadata"
                  }
                }
              },
              "application/vnd.pgrst.object+json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/metadata"
                  }
                }
              },
              "text/csv": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/metadata"
                  }
                }
              }
            }
          },
          "206": {
            "description": "Partial Content",
            "content": {}
          }
        }
      },
      "post": {
        "operationId": "postMetadata",
        "tags": [
          "metadata"
        ],
        "parameters": [
          {
            "name": "select",
            "in": "query",
            "description": "Filtering Columns",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none",
                "resolution=ignore-duplicates",
                "resolution=merge-duplicates"
              ]
            }
          }
        ],
        "requestBody": {
          "description": "metadata",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/metadata"
              }
            },
            "application/vnd.pgrst.object+json;nulls=stripped": {
              "schema": {
                "$ref": "#/components/schemas/metadata"
              }
            },
            "application/vnd.pgrst.object+json": {
              "schema": {
                "$ref": "#/components/schemas/metadata"
              }
            },
            "text/csv": {
              "schema": {
                "$ref": "#/components/schemas/metadata"
              }
            }
          },
          "required": false
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {}
          }
        },
        "x-codegen-request-body-name": "metadata"
      },
      "delete": {
        "operationId": "deleteMetadata",
        "tags": [
          "metadata"
        ],
        "parameters": [
          {
            "name": "metadata_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "creation_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "last_modified_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "version_number",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "additional_information",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content",
            "content": {}
          }
        }
      },
      "patch": {
        "operationId": "updateMetadata",
        "tags": [
          "metadata"
        ],
        "parameters": [
          {
            "name": "metadata_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "creation_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "last_modified_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "version_number",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "integer"
            }
          },
          {
            "name": "additional_information",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "text"
            }
          },
          {
            "name": "Prefer",
            "in": "header",
            "description": "Preference",
            "schema": {
              "type": "string",
              "enum": [
                "return=representation",
                "return=minimal",
                "return=none"
              ]
            }
          }
        ],
        "requestBody": {
[...]
