openapi: 3.0.1
info:
  title: SpokenWord API
  description: |
    An API designed to manage SpokenWord entities in a scriptwriting application. This includes operations to list, create, retrieve, update, and delete SpokenWord entities.
  version: "1.0.0"
servers:
  - url: 'https://spokenwords.fountain.coach'
    description: Main server for the SpokenWord API, managing spoken word entries.

paths:
  /spokenWords:
    get:
      summary: Retrieve All SpokenWords
      operationId: getSpokenWords
      description: Fetches a list of all SpokenWords entities in the system, providing an overview of spoken dialogues.
      responses:
        '200':
          description: Successfully retrieved a list of SpokenWords.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SpokenWord'
    post:
      summary: Create SpokenWord
      operationId: createSpokenWord
      description: Creates a new SpokenWord entity with provided dialogue text and sequence within the script.
      requestBody:
        required: true
        description: Details for the new SpokenWord entity to be created.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpokenWord'
      responses:
        '201':
          description: Successfully created a new SpokenWord entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpokenWord'

  /spokenWords/{id}:
    get:
      summary: Retrieve a SpokenWord by ID
      operationId: getSpokenWordById
      description: Fetches details of a specific SpokenWord entity by its unique ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Unique identifier of the SpokenWord to retrieve.
      responses:
        '200':
          description: Successfully retrieved the SpokenWord entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpokenWord'
    put:
      summary: Update SpokenWord
      operationId: updateSpokenWord
      description: Updates an existing SpokenWord entity with new dialogue text or sequence.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Unique identifier of the SpokenWord to update.
      requestBody:
        required: true
        description: Updated details for the SpokenWord entity.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpokenWord'
      responses:
        '200':
          description: Successfully updated the SpokenWord entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpokenWord'
    delete:
      summary: Delete SpokenWord
      operationId: deleteSpokenWord
      description: Removes a SpokenWord entity from the system by its unique ID.
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
          description: Unique identifier of the SpokenWord to delete.
      responses:
        '204':
          description: Successfully deleted the SpokenWord entity.

components:
  schemas:
    SpokenWord:
      type: object
      description: Represents a dialogue or spoken word within the script, identified by a unique ID, text, and sequence order.
      required:
        - dialogueId
        - text
        - sequence
      properties:
        dialogueId:
          type: integer
          description: Unique identifier for the SpokenWord entity.
        text:
          type: string
          description: The dialogue text of the SpokenWord entity.
        sequence:
          type: integer
          description: Order sequence of the SpokenWord within the script.
